<div style="margin-top: 10px">
    <app-page-header [heading]="title" [icon]="'fa-table'"></app-page-header>
    <div class="card">
        <div class="row" style="margin: 20px">
            <div class="col col-lg-12">

                <!-- <button type="button" pButton label="back" [routerLink]="['/file-manager/']" style="float:left" class="btn-space"></button> -->

                <br>
                <button (click)="dt.exportCSV()" class="btn-space" icon="fa fa-download" label="Export" pButton
                        style="float:right" type="button"></button>

                <button [routerLink]="['/csv2/']" class="btn-space" label="Statistics" pButton style="float:right"
                        type="button"></button>


                <a [routerLink]="['/frame-url','http://192.168.184.70/views/NoShowsAnalysisDashboard/No-show?iframeSizedToWindow=true&:embed=y&:ShowAppBanner=false&:Display_count=no&:ShowVizHome=no']">
                    <button class="btn-space" label="Dashboard" pButton style="float:left" type="button"></button>
                </a>
                <button [routerLink]="['/noshowGapList/']" class="btn-space" label="Care Gaps" pButton
                        style="float:right" type="button"></button>
                <br><br>
                <p-table #dt [columns]="cols" [loading]="loading" [paginator]="true" [rows]="20" [scrollable]="false"
                         [value]="membergaps" class="table table-bordered table-hover"
                         exportFilename="No_Show_Likelihood">
                    <ng-template pTemplate="header">
                        <tr class="header-class">
                            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                <input (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                       *ngSwitchDefault pInputText type="text">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template let-columns="columns" let-rowData pTemplate="body">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <span *ngSwitchCase="'patientName'">
                                    <a [routerLink]="['/smv/',rowData['patientId']]">{{rowData[col.field]}}</a>
                                </span>
                                <span *ngSwitchCase="'likelihood'">
                                  {{rowData[col.field] * 100 | number: '1.0-0' }} %
                                </span>
                                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <img src="assets/images/Dr Tablet.jpg" >
    </div>
-->
</div>

